[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = RS
ST = Vojvodina
L = Novi Sad
O = Tim 16
OU = BSEP
CN = Tim 16

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost