mat-card {
    max-width: 1100px;
    margin: 2em auto;
}

.download-btn {
    color: white;
    background-color: #00cc00;
}

.check-status-btn {
    color: white;
    background-color: #FFA500;
}

.check-validity-btn {
    color: white;
    background-color: #800000;
}

.buttons-width {
    width: 42%;
}

.table td {
    vertical-align: middle;
}